{% extends "layouts/base.html.twig" %}

        {% block content %} 

        <div class="row">
                <h1 class="col-12 text-center my-2">Accueil</h1>
        </div>

        <div class="row">
                <div class="col-12">
                        {% include "components/_flashe.html.twig" %}
                </div>
        </div>

        <div class="row text-center">
        {% for post in posts %}
        <div class="col-3">
                <div class="card" style="width: 18rem;">
                <img src="{{ asset('uploads/' ~ post.photo) }}" class="card-img-top" alt="..." height="200" width="180">
                <div class="card-body">
                        <h5 class="card-title">{{ post.title | length > 20 ? post.title | slice(0,20) ~ '...'}}</h5>
                        <p class="card-subtitle mb-2 text-muted">{{ post.subtitle | length > 30 ? post.subtitle | slice(0,30) ~ '...' : post.subtitle}}</p>
                        <p class="card-text">{{ post.content | length > 50 ? post.content | slice(0,50) ~ '...' : post.content | raw}}</p>
                        <a href="{{path('show_post', {'cat_alias':post.category.alias, 'post':post.alias, 'id':post.id})}}" class="btn btn-primary"><i class="fas fa-eye"></i> Voir</a>
                </div>
                </div>                
        </div>

        {% endfor %}
        </div>



        {% endblock %}

