{% extends "layouts/base.html.twig" %}

{% block content %}

<div class="row">
{% if post is defined %} 
                <h1 class="col-12 text-center my-2">Créer</h1>
                {% else %}
                <h1 class="col-12 text-center my-2">Ajouter un article</h1>
{% endif %}

</div>

{# 1er façon : affichage du foormulaire #}
     {#{form(form)}#}

{# 2eme façon : affichage partiel du formulaire = input par input #}
    {{form_start(form, {'attr':{novalidate:'novalidate'}})}}{#<form class="" action="" method="" >#}
    {# form_row représente votre input #}
    {{form_row(form.title)}} 
    {{form_row(form.subtitle)}}
    {{form_row(form.content)}}
    {{form_row(form.category)}}
    {{form_row(form.photo)}}
    {% if post is defined %} 
    <button class='d-block col-2 mx-auto btn btn-warning'>Modifier</button> 
        {% else %}
    <button class='d-block col-2 mx-auto btn btn-warning'>Publier</button> 
    {% endif %}

    {{form_end(form)}}  

  
{% endblock %}