{% extends "layouts/base.html.twig" %}

{% block content %}

{# 1er façon : affichage du foormulaire #}
     {#{form(form)}#}

{# 2eme façon : affichage partiel du formulaire = input par input #}
    {{form_start(form, {'attr':{novalidate:'novalidate'}})}}{#<form class="" action="" method="" >#}
    {# form_row représente votre input #}
    {{form_row(form.title)}} 
    {{form_row(form.content)}}
    {{form_row(form.photo)},[
        'labet'=>'Publier',
        'attr' =>[
            'class'=>'d-block col-2 mx-auto btn btn-warning'
        ]
    ]} 
     
    {{form_end(form)}}      {#</form>#}


    
{% endblock %}