{% extends "layouts/base.html.twig" %}

{% block content %}

{# 1er façon : affichage du foormulaire #}
     {#{form(form)}#}

{# 2eme façon : affichage partiel du formulaire = input par input #}
    {{form_start(form)}}      {#<form class="" action="" method="" >#}

    {{form_row(form.title)}} {#<form class="" action="" method="" >#}
    {{form_row(form.content)}}
    {{form_row(form.photo)}}      
      <button type='submit'>Publier</button>
    {{form_end(form)}}      {#</form>#}


    
{% endblock %}