{% extends "layouts/base.html.twig" %}

{% block content %}

<div class="row">
                <h1 class="col-12 text-center my-2">Ajouter un article</h1>
</div>

{# 1er façon : affichage du foormulaire #}
     {#{form(form)}#}

{# 2eme façon : affichage partiel du formulaire = input par input #}
    {{form_start(form, {'attr':{novalidate:'novalidate'}})}}{#<form class="" action="" method="" >#}
    {# form_row représente votre input #}
    {{form_row(form.title)}} 
    {{form_row(form.content)}}
    {{form_row(form.photo)}}
    {{form_row(form.submit)}} 
     
    {{form_end(form)}}     


    
{% endblock %}