{% extends "layouts/base.html.twig" %}

{% block content %}

<div class="row">
    <div class="col my-4">
        <h1 class="text-center">Mon espace personnel</h1>
    </div>
</div>

<div class="row">
    {% include 'components/_flashe.html.twig' %}
</div>

    <div class="row">
        <div class="col my-4">
            <h2 class="text-center">Mes Favoris</h2>
        </div>
    </div>

    

<div class="row my-5">
    <div class="col-12 mx-auto">
        {% if favoris is not empty %}
            
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Titre</th>
                        <th>Date de création</th>
                        <th>Catégorie</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                
                {% for favori in favoris %}
                    <tr>
                        <td>
                            {{ favori.post.title }}
                        </td>
                        <td>
                            {{ favori.post.createdAt | date('d/m/Y h:i:s') }}
                        </td>
                        <td>
                            {{ favori.post.category.name }}
                        </td>
                        <td>
                        <a href="{{path('show_post', {'cat_alias':favori.post.category.alias, 'post':favori.post.alias, 'id':favori.post.id})}}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                        </td>
                        
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}
    </div>
</div>

<div class="row my-4">
    <div class="col-12">
        <h2 class="text-center">Mes commentaires</h2>
    </div>
</div>
    <div class="row">
        {% if commentaries is not empty %}
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>Contenu</th>
                    <th>Date de création</th>
                    <th>Article lié</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for commentary in commentaries %}
                    <tr>
                        <td>
                            {{ commentary.comment }}
                        </td>
                        <td>
                            {{ commentary.createdAt | date('d/m/Y h:i:s') }}
                        </td>
                        <td>
                            {{ commentary.post.title }}
                        </td>
                        <td>
                            <a href="" class="btn btn-info"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}